body {
	padding-top: 50px;
}

#fullbleedcarrier {
	background: url('../img/fullbleedbread.jpg') no-repeat;
	background-size: 100%;
}

.bigdiv {
	background: #efefef; 
	border-radius: 5px;
	margin: 10px 10px 10px 0; 
	padding: 20px 20px 0 20px;
}

/* ---------------- LOGIN FORM --------------------- */
#formcarrier {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	margin: 0 0 20px 0;
	padding: 10px;
	color: #ffffff;
}

#formcarrier input {
	width: 90%;
}

#formcarrier legend {
	color: #ffffff;
	border: none;
	text-shadow: 1px 1px #000000;
}

#siteControlDiv {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 20px;
}

#siteTitleDiv {
	background: none;
	display: none;
	padding: 20px;
}

#siteTitleDiv h1 {
	color: #ffffff;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

/* --------------- SIGN UP ------------------------ */
#signupcarrier {
	background: none;
	margin: 15px 0 0 0;
}

#signupcarrier input {

}

/* ------------ LIST --------------------------- */
#contactsDiv {
	background: none;
}